/* navbar.component.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: #000 1px solid;
  width: 100%;
  margin-left: -.8rem;

  &__logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__logo {
    height: 4rem;
  }

  &__title {
    font-family: "Atkinson Hyperlegible Mono";
    font-size: 1.8rem;
    color: #F1F1F1;
  }

  &__buttons {
    display: flex;
    gap: 3rem;
    margin-right: 1rem;

    .navbar__button, .navbar__button2 {
      width: 10rem;
      height: 3rem;
      margin-left: -2rem;
      border: none;
      background-color: #000;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      text-align: center;
      text-decoration: none;

      font-size: 1rem;
      font-family: "Atkinson Hyperlegible Mono", sans-serif;




      &:hover {
        background-color: #101010;
      }
    }
  }
}
